/* VARIABLES */


/* Colors */
$black: #000000;
$gradient: linear-gradient(90deg, #5A156E 0%, #730D75 54.03%, #940080 100%);
$purplerain: #940082;
$white: #ffffff;
$shadow: 0px 1px 30px rgba(0, 0, 0, 0.15);

/* Buttons */
$borders: 9px;

/* Font */
$h1: 46px;
$h2: 32px;
$h3: 26px;
$h4: 22px;

$pdesc: 18px;
$ptab: 16px;
$psmart: 12px;
