.ad-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $purplerain;

    &__containers {
        border: 1px solid rgb(83, 0, 128);
        border-radius: 4px;
        
        &__container {
            border: 1px solid green;
            border-radius: 4px;
        }
    }
}
