.home-menu-class {
    display: flex;
    justify-content: space-between;
    background: $black;
}

.menu {
    align-items: center;
    background: $black;
    color: $white;
    display: flex;
    justify-content: flex-end;

    & > ul {
        display: inline-flex;
    }
}

.page_item {
    display: contents;

    & > a {
        color: $white;
        float: right;
        margin: 10px 25px;
        text-decoration: none;
    }
}

.logo {
    background: $black;
    display: flex;
    font-size: 40px;
    padding-left: 5%;
    &-title {
        color: $white;
        text-decoration: none;
    }
}