.single-ad__container{

    &-head {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;

        &-left {
            margin: 20px;
            &-title {
                & > h2 {
                    font-size: 70px;
                    font-weight: bold;
                    background: $gradient;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &-distance {
                & > p {
                }
            }
        }

        &-thumbnail {
            & > img {
                border-radius: 4px;
                box-shadow: $shadow;
                height: 250px;
                object-fit: cover;
                width: 250px;
            }
        }
    }

    &-content {
        box-shadow: $shadow;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
        flex-direction: column;

        & > p {
            display: inline-block;
        }

        &-informations {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
            & > p {
                
            }
        } 
    }

    &-location > a {
        background: $purplerain;
        border-radius: 50px;
        box-shadow: $shadow;
        color: $white;
        cursor: pointer;
        padding: 5px 30px;
        position: absolute;
        text-decoration: none;
        transition: .5s;
        &:hover {
            background-color: $white;
            border: 2px solid $purplerain;
            border-radius: 50px;
            color: $purplerain;
        }
    }
}